<% content_for(:title, "Lead Source Report") %>
<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Lead Source Report
        <span>
          <% if current_user.user_has_teammates? == false %>
            (<%= current_user.name %>)
          <% end %>
        </span>
        <div class="sub header">Leads by Marketing Source</div>
      </h1><!-- /.ui header -->
      <p><%= link_to("Back to Dashboard", dashboard_path, "data-turbolinks": false) %></p>
      <p><%= link_to("Back to All Reports", reports_path) %></p>
    </div><!-- /.introduction -->
      <button class="ui button">
        YTD
      </button>
      <div class="ui button" tabindex="0">
        Last 12 Months
      </div>`
      <div class="ui button" tabindex="0">
        Last Year
      </div>
      <div class="ui button" tabindex="0">
        History
      </div>
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical segment -->

<% if @leads.empty? %>
  <div class="ui segment">
    <h2 class="ui center aligned icon header m-y-lg">
      <i class="warning sign icon"></i>
      <div class="content">
        You don't have any active listings.
        <div class="sub header">If this seems wrong, <%= link_to("review and update your client information here", clients_path) %>.</div>
      </div>
    </h2>
  </div>
<% else %>

  <div class="main ui container">
    <%= "NB: This report excludes leads where no referral source was entered. You have" %><b><%=" #{@leads.where('lead_type_id IS NULL').count} " %> <%='Lead'.pluralize(1) %></b><%= " with no referral source.  You can add referral source on Lead Info section for each lead or client." %>
    <div class="ui vertical basic segment">
      <div id="lead-source-chart">
        <h3><%= "All Leads Activity (Clients, Lost & Junk)" %></h3>
        <%= pie_chart(@leads.joins(:lead_type).group(:'lead_types.name').count
        )%>
      </div>
    </div><!-- /.ui vertical basic segment -->
  </div>
  <div class="main ui container">
    <div class="ui vertical basic segment">
      <div class="ui centered grid">
        <div class="computer tablet only row">
          <div class="column">
            <div class="ui three tiny statistics">
              <div class="statistic">
                <div class="label">
                  Total Leads
                </div>
                <div class="value">
                  <%= @leads.count %>
                </div>
              </div>
              <div class="statistic">
                <div class="label">
                  Volume
                </div>
                <div class="value">
                  <%= num_to_currency(@leads.sum(:displayed_price)) %>
                </div>
              </div>
              <div class="statistic">
                <div class="label">
                  Est Net commission
                </div>
                <div class="value">
                  <%= num_to_currency(@leads.sum(:displayed_net_commission)) %>
                </div>
              </div>
            </div>
          </div><!-- /.column -->
        </div><!-- /.computer tablet only row -->
        <div class="mobile only row">
          <div class="column">
            <div class="ui horizontal tiny statistics">
              <div class="statistic">
                <div class="value">
                  <%= @leads.count %>
                </div>
                <div class="label">
                  Listings
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <%= num_to_currency(@leads.sum(:displayed_price)) %>
                </div>
                <div class="label">
                  Volume
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <%= num_to_currency(@leads.sum(:displayed_net_commission)) %>
                </div>
                <div class="label">
                  Est Net commission
                </div>
              </div>
            </div>
          </div><!-- /.column -->
        </div><!-- /.mobile only row -->
      </div><!-- /.ui centered grid -->
    </div><!-- /.ui vertical basic segment -->
  </div><!-- /.ui container -->

  <div class="main ui container">
    <div class="ui vertical basic segment">
      <div id="lead-source-chart">
        <h3><%= "All Client Activity" %></h3>
        <%= pie_chart(@clients.where('lead_type_id IS NOT NULL').joins(:lead_type).group(:'lead_types.name').count
        )%>

      </div>
    </div><!-- /.ui vertical basic segment -->

  </div>

  <div class="main ui container">
    <div class="ui vertical basic segment">
      <div class="ui centered grid">
        <div class="computer tablet only row">
          <div class="column">
            <div class="ui three tiny statistics">
              <div class="statistic">
                <div class="label">
                  Total Leads
                </div>
                <div class="value">
                  <%= @clients.count %>
                </div>
              </div>
              <div class="statistic">
                <div class="label">
                  Volume
                </div>
                <div class="value">
                  <%= num_to_currency(@clients.sum(:displayed_price)) %>
                </div>
              </div>
              <div class="statistic">
                <div class="label">
                  Est Net commission
                </div>
                <div class="value">
                  <%= num_to_currency(@clients.sum(:displayed_net_commission)) %>
                </div>
              </div>
            </div>
          </div><!-- /.column -->
        </div><!-- /.computer tablet only row -->
        <div class="mobile only row">
          <div class="column">
            <div class="ui horizontal tiny statistics">
              <div class="statistic">
                <div class="value">
                  <%= @clients.count %>
                </div>
                <div class="label">
                  Listings
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <%= num_to_currency(@clients.sum(:displayed_price)) %>
                </div>
                <div class="label">
                  Volume
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <%= num_to_currency(@clients.sum(:displayed_net_commission)) %>
                </div>
                <div class="label">
                  Est Net commission
                </div>
              </div>
            </div>
          </div><!-- /.column -->
        </div><!-- /.mobile only row -->
      </div><!-- /.ui centered grid -->
    </div><!-- /.ui vertical basic segment -->
  </div><!-- /.ui container -->

  <div class="main ui container">
    <div class="ui vertical basic segment">
      <div id="lead-source-chart">
        <h3><%= "Not Converted & Junk Activity" %></h3>
        <%= pie_chart(@not_converted_or_junk .where('lead_type_id IS NOT NULL').joins(:lead_type).group(:'lead_types.name').count
        )%>
      </div>
    </div><!-- /.ui vertical basic segment -->

  </div>

  <div class="main ui container">
    <div class="ui vertical basic segment">
      <div class="ui centered grid">
        <div class="computer tablet only row">
          <div class="column">
            <div class="ui three tiny statistics">
              <div class="statistic">
                <div class="label">
                  Total Leads
                </div>
                <div class="value">
                  <%= @not_converted_or_junk.count %>
                </div>
              </div>
              <div class="statistic">
                <div class="label">
                  Volume
                </div>
                <div class="value">
                  <%= num_to_currency(@not_converted_or_junk.sum(:displayed_price)) %>
                </div>
              </div>
              <div class="statistic">
                <div class="label">
                  Est Net commission
                </div>
                <div class="value">
                  <%= num_to_currency(@not_converted_or_junk.sum(:displayed_net_commission)) %>
                </div>
              </div>
            </div>
          </div><!-- /.column -->
        </div><!-- /.computer tablet only row -->
        <div class="mobile only row">
          <div class="column">
            <div class="ui horizontal tiny statistics">
              <div class="statistic">
                <div class="value">
                  <%= @not_converted_or_junk.count %>
                </div>
                <div class="label">
                  Listings
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <%= num_to_currency(@not_converted_or_junk.sum(:displayed_price)) %>
                </div>
                <div class="label">
                  Volume
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <%= num_to_currency(@not_converted_or_junk.sum(:displayed_net_commission)) %>
                </div>
                <div class="label">
                  Est Net commission
                </div>
              </div>
            </div>
          </div><!-- /.column -->
        </div><!-- /.mobile only row -->
      </div><!-- /.ui centered grid -->
    </div><!-- /.ui vertical basic segment -->

    <div class="ui vertical basic segment">
      <h2 class="ui dividing header">
        Listings
      </h2><!-- /.ui dividing header -->
      <table class="ui striped table" id="pendings_table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Lead Type</th>
            <th>Lead Source/Referral</th>
            <th class="right aligned">List Price</th>
            <th class="right aligned">Est Net Commission</th>
            <th class="right aligned">Stage</th>
          </tr>
        </thead>
        <tbody>
          <% @leads.each do |lead| %>
            <tr>
              <td><%= link_to(lead.name, lead, "data-turbolinks": false) %></td>
              <% if lead.lead_type_id != nil %>
                <td><%= lead.lead_type.name if lead.lead_type_id != nil %></td>
              <% else %>
                <td><%= " - " %></td>
              <% end %>
              <% if lead.lead_type_id != nil  %>
                <% if lead.lead_type.name == "Referral - From Database" || lead.lead_type.name == "Referral - From Business Network" || lead.lead_type.name == "Referral - From Realtor"  %>
                <!-- PATRICK -- HELP-->
                   <td><%= lead.referring_contact.try(:name) %></td>
                <% elsif %>
                  <% if lead.lead_source != nil%>
                    <td><%= lead.lead_source.try(:name) %></td>
                  <% else %>
                    <td><%= " - " %></td>
                  <% end %>
                <% elsif %>
                  <td><%= " - " %></td>
                <% end %>
              <% else %>
                  <td><%= " - " %></td>
              <% end %>
              <% if lead.displayed_price == nil %>
                <td><%= " - " %></td>
              <% else %>
                <td class="right aligned"><%= num_to_currency(lead.displayed_price)%></td>
              <% end %>
              <% if lead.displayed_net_commission == nil %>
                <td><%= " - " %></td>
              <% else %>
                 <td class="right aligned"><%= num_to_currency(lead.displayed_net_commission)%></td>
              <% end %>
              <td class="right aligned"><%= lead.status_to_s%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.ui vertical basic segment -->
  </div><!-- /.ui container -->

<% end %>
