<table class="<%= klass %>" style="width: 100%; border: none; border-collapse: collapse;" cellspacing="0" cellpadding="0" border="0">
  <tr style="border: none; border-collapse: collapse;">
    <td style="line-height: 0; border: none; border-collapse: collapse;" height="<%= padding_horizontal %>" width="<%= padding_vertical %>">&nbsp;</td>
    <td style="line-height: 0; border: none; border-collapse: collapse;" height="<%= padding_horizontal %>">&nbsp;</td>
    <td style="line-height: 0; border: none; border-collapse: collapse;" height="<%= padding_horizontal %>" width="<%= padding_vertical %>">&nbsp;</td>
  </tr>
  <tr style="border: none; border-collapse: collapse;">
    <td style="line-height: 0; border: none; border-collapse: collapse;" width="<%= padding_vertical %>">&nbsp;</td>
    <td style="border: none; border-collapse: collapse;">
      <%= body %>
    </td>
    <td style="line-height: 0; border: none; border-collapse: collapse;" width="<%= padding_vertical %>">&nbsp;</td>
  </tr>
  <tr style="border: none; border-collapse: collapse;">
    <td style="line-height: 0; border: none; border-collapse: collapse;" height="<%= padding_horizontal %>" width="<%= padding_vertical %>">&nbsp;</td>
    <td style="line-height: 0; border: none; border-collapse: collapse;" height="<%= padding_horizontal %>">&nbsp;</td>
    <td style="line-height: 0; border: none; border-collapse: collapse;" height="<%= padding_horizontal %>" width="<%= padding_vertical %>">&nbsp;</td>
  </tr>
</table>