<div id="stats" class="below24 relative">
  <h3>Full Year Sales Forecast & Cashflow</h3>

  <ul class="nav nav-pills below18 team-only">
    <li role="presentation" class="active"><a href="#my-stats" data-toggle="pill">My Stats</a></li>
    <li role="presentation"><a href="#team-stats" data-toggle="pill">Team Stats</a></li>
  </ul>
  <div class="row">
    <div class="col-xs-12">
      <div class="tab-content nopadding noborder">
        <div class="tab-pane fade in active" id="my-stats">
          <%= stat_block(
            value: current_user.closed_leads_forecast_to_end_of_year.count,
            label: "Forecast Full Year",
            columns: 4
          ) %>
          <%= stat_block(
            value: number_to_currency(closed_leads_forecast_to_end_of_year.sum(:displayed_price).to_i, precision: 0),
            label: "Forecast Volume Full Year",
            columns: 4
          ) %>
          <%= stat_block(
            value: number_to_currency(closed_leads_forecast_to_end_of_year.sum(:displayed_net_commission).to_i, precision: 0),
            label: "Forecast Commission Full Year",
            columns: 4
          ) %>
        </div>
        <div class="tab-pane fade" id="team-stats">
          <%= stat_block(
            value: current_user.closed_team_leads_ytd.count,
            label: "Closed YTD",
            columns: 4
          ) %>
          <%= stat_block(
            value: number_to_currency(current_user.closed_team_leads_ytd.sum(:displayed_price).to_i, precision: 0),
            label: "Total Volume YTD",
            columns: 4
          ) %>
          <%= stat_block(
            value: number_to_currency(current_user.closed_team_leads_ytd.sum(:displayed_net_commission).to_i, precision: 0),
            label: "Commission YTD",
            columns: 4
          ) %>
        </div>
      </div>
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /#stats.below24 -->
