<%= form.input(:billing_organization, input_html: { class: "form-control" }) %>
<%= form.input(:billing_address, input_html: { class: "form-control" }) %>
<%= form.input(:billing_address_2, input_html: { class: "form-control" }) %>
<div class="row">
  <div class="col-xs-6">
    <%= form.input(:billing_city, input_html: { class: "form-control" }) %>
  </div><!-- /.col-xs-6 -->
  <div class="col-xs-6">
    <%= form.input(:billing_state, input_html: { class: "form-control" }) %>
  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->
<div class="row">
  <div class="col-xs-6">
    <%= form.input(:billing_zip_code, input_html: { class: "form-control" }) %>
  </div><!-- /.col-xs-6 -->
  <div class="col-xs-6">
    <%= form.input(:billing_country, input_html: { class: "form-control" }) %>
  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->
