<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-default local-nav" role="navigation">
      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggle full-width" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="button">
            Navigation
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div><!-- /navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown"><!-- dropdown-menu -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account settings
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <%=nav_link "Account Settings", edit_user_registration_path %>
                <%=nav_link "My Profile", edit_profile_path %>
                <%=nav_link "Teams", user_settings_teams_path %>
                <%=nav_link "Commission", edit_commission_split_path %>
                <%=nav_link "Email Setup", edit_integrations_path %>
              </ul><!-- /dropdown-menu -->
            </li>
            <% if super_admin_signed_in? %>
              <li class="dropdown"><!-- dropdown-menu -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Billing
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <%=nav_link "Subscriptions", "#" %>
                </ul><!-- /dropdown-menu -->
              </li>
              <li class="dropdown"><!-- dropdown-menu -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Integrations
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                 <%=nav_link "Integration Settings", edit_integrations_path %>
                 <%=nav_link "Edit Calender Settings", edit_calendar_settings_path %>
                </ul><!-- /dropdown-menu -->
              </li>
              <li class="dropdown"><!-- dropdown-menu -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">API Admin
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <%= nav_link "FC - PingTest", single_api_report_dashboard_path(api: "fullcontact.ping") %>
                  <%= nav_link "FullContact", single_api_report_dashboard_path(api: "fullcontact") %>
                  <%= nav_link "Kimono", single_api_report_dashboard_path(api: "kimono") %>
                  <%= nav_link "InboxApp", single_api_report_dashboard_path(api: "inboxapp") %>
                  <%= nav_link "Mandrill", single_api_report_dashboard_path(api: "mandrill") %>
                  <%= nav_link "Twilio", single_api_report_dashboard_path(api: "twilio") %>
                  <%= nav_link "Stripe", single_api_report_dashboard_path(api: "stripe") %>
                  <%= nav_link "Stripe - Hooks", single_api_report_dashboard_path(api: "stripe.webhook") %>
                </ul><!-- /dropdown-menu -->
              </li>
            <% end %>
            <li>
              <%= link_to(
                "General Notifications",
                user_settings_general_notifications_path
              ) %>
            </li>
            <li class="dropdown"><!-- dropdown-menu -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lead Settings
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <%=nav_link "Leads Sources (3rd Parties)", lead_services_user_settings_lead_settings_path %>
                <%=nav_link "Lead Team/Groups", user_settings_lead_groups_path %>
                <%=nav_link "Lead Notifications", lead_notifications_user_settings_lead_settings_path %>
                <%=nav_link "Leads Public Link", quicklink_user_settings_lead_settings_path %>
                <%=nav_link "Away Settings", away_settings_user_settings_lead_settings_path %>

              </ul><!-- /dropdown-menu -->
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div><!-- /.col-sm-12 -->
</div><!-- /.row -->





