<a href="<%= link %>" <%= data_method %> class="list-group-item two-line with-ripple" <%= link_attributes %>>
  <div class="row-action-primary">
    <span class="<%= icon_class %>" <%= icon_attributes %>></span>
  </div><!-- /.row-action-primary -->
  <div class="row-content">
    <p class="list-group-item-heading">
      <span class="fwb"><%= title %></span>
    </p><!-- /p.list-group-item-heading -->
    <p class="list-group-item-second-line">
      <%= description %>
    </p><!-- /.list-group-item-second-line -->
  </div><!-- /.row-content -->
</a><!-- /.list-group-item -->
