<!DOCTYPE html>
<html lang="en" class="header-only-layout">
  <head>
    <%= render(partial: "application/head_contents") %>
  </head>

  <body id="<%= "%s_%s" % [controller_name, action_name] %>" class="navtoggle header-only <%= @layout_carrier.env_banner %> <%= yield :body_class if content_for? :body_class %> ">

    <%= render(partial: "shared/environment_banner") %>
    <%= render(partial: "shared/header") %>

    <%= render(partial: "shared/account_menu") %>
    <%= render(partial: "shared/phone_navigation") %>
    <%= render(partial: "shared/tablet_navigation") %>

    <div id="wrap" class="wrap clearfix nopadding <%= yield :wrap_class if content_for? :wrap_class %> ">
      <div id="main-content" class="main-content mc-content">

        <div class="container relative clearfix">
          <%= render(partial: "shared/flashes") %>
          <%= yield %>

        </div>
      </div>
    </div>

    <!--
    FAB BUTTON
    <a href="#" class="btn btn-default btn-fab fui-plus"></a>
    -->

    <%= render(partial: "application/extra_content") %>
  </body>
</html>
